<div class="main"><br><br>
    <div class="text-center"><br><br>
        <h1>Get In Touch</h1> <br>
    </div>
    <div class="container"><br>
        <div class="row">
            <h2>Contact Us</h2>
            <div class="col-md-6">

                <form class="contact-form" (submit)="sendEmail($event)" class="row g-3 needs-validation" novalidate>
                    <!-- <div class="col-md-1"></div> -->
                    <div class="col-md-10">
                        <label for="Name">Name:</label>
                        <input type="text" name="name" class="form-control" id="Name" value=""
                            placeholder="Enter Your Name " required>
                        <div class="valid-feedback">
                            Your Name
                        </div>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Email">Email ID:</label>
                        <input type="email" name="email" class="form-control" id="EmailAddress"
                            placeholder="Enter Your Email Address.." required>
                    </div>

                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Mobileno">Contact No.:</label>
                        <input type="number" name="phoneno" class="form-control" id="MobileNo" value=""
                            placeholder="Enter your Mobile number" required>
                        <div class="valid-feedback">
                            Your number
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <br>

                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Mobileno">Message.:</label>
                        <textarea type="text" name="message" class="form-control" id="Message" placeholder="Message"
                            required>
                        </textarea>
                    </div>
                    <div class="col-md-1"></div>
                    <br>

                    <div class="col-md-1"></div>
                    <div class="col-md-10" style="text-align: center;">
                        <button class="btn btn-success" type="submit" value="Send">Submit Now</button>
                    </div>
                    <br><br>
                </form>
                
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h3>SALES :</h3>
                    <div class="col-lg-6">
                        <p>Mr.Nitin Bhagat <br>
                            9168499842 <br>
                            nitinbhagat&#64;jalaramgroup.info</p>
                    </div><br>
                    <div class="col-lg-6">
                        <p>Mr.Mayur Bhagat <br>
                            9881211685 <br>
                            mayurbhagat&#64;jalaramgroup.info</p>
                    </div><br>
                </div><br>

                <h3>OPERATIONS :</h3>
                <p>Mr. Gokul Padole <br>
                    9834128959 <br>
                    gokulpadelo&#64;jalaramgroup.info</p>
                <br>

                <h3>ACCOUNTS :</h3>
                <p>Mr. Dinesh Ranpise <br>
                    9689965446 <br>
                    dineshranpise&#64;jalaramgroup.info</p>

            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-4">
                <h5>UNIT I</h5><br>
                <p><b>Address :</b> Gala No. B43, B38, B56, B29, B46, Pavana Industrial Complex, T-204, MIDC Bhosari,
                    Pune -411026 Meaharashtra, INDIA.</p>
                <br>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d30245.159579707004!2d73.8283373677081!3d18.635032894615403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2s!5e0!3m2!1sen!2sin!4v1730809325941!5m2!1sen!2sin"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><br>
            <div class="col-md-4">
                <h5>UNIT II</h5> <br>
                <p><b>Address :</b>Plot No. W-35, T-Block, MIDC Bhosari, Pune - 411026 Maharashtra, INDIA.</p>

                <br><br>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.891528782967!2d73.82184068587445!3d18.623948020874845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b86399108539%3A0x39b892587e53ba30!2sPlot%20No.W%2C%2035%2C%20T%20Block%2C%20MIDC%2C%20Bhosari%2C%20Pune%2C%20Pimpri-Chinchwad%2C%20Maharashtra%20411026!5e0!3m2!1sen!2sin!4v1730809378954!5m2!1sen!2sin"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><br>
            <div class="col-md-4">
                <h5>UNIT III</h5> <br>
                <p><b>Address :</b> Plot No. 13/14, Ahilya Mahila Industrial Premises, Village Shinde, Phase II, MIDC,
                    Chakan, Pune - 410501 Maharashtra,INDIA.</p>
                <br>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60466.54386102626!2d73.76204015032418!3d18.7016987518426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b76280a290b9%3A0x5f723e56cf0433c3!2sAradhana%20Co-op%20Housing%20Society%2C%20Mata%20Ramabai%20Bhimrao%20Ambedkar%20Marg%2C%20Scheme%20No.%2010%2C%20Sector%20Number%2021%2C%20Yamuna%20Nagar%2C%20Nigdi%2C%20Pimpri-Chinchwad%2C%20Maharashtra%20411044!5e0!3m2!1sen!2sin!4v1730809432567!5m2!1sen!2sin"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><br>
        </div>
    </div>
</div>