<div class="main"> <br><br>
    <div class="text-center"><br><br>
        <h1>OUR CAPABILITIES AND STRENGTH</h1> <br>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/machine/machine1.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal1" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <h5> Wire Cutting Machine</h5>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Wire Cutting Machine</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/machine/machine1.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-5"><br>
                                            <div class="cards">
                                                <div class="card-body">
                                                    <p class="para"> Type: Wire Cutting Machine <br>
                                                        Make: SIEBUE <br>
                                                        Model: M-35B <br>
                                                        Specification: 250 x 300 x 200 mm</p>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <br>
            </div><br>

            <div class="col-md-4">
                <img src="/assets/machine/machine3.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal2" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <h5> Wire Cutting Machine</h5>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Wire Cutting Machine</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/machine/machine3.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-5"><br>
                                            <div class="cards">
                                                <div class="card-body">
                                                    <p class="para"> Type: Wire Cutting Machine <br>
                                                        Make: MITSUBISHI <br>
                                                        Model: MV-2400 R <br>
                                                        Specification: 450x650x300mm</p>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div><br>

            <div class="col-md-4">
                <img src="/assets/machine/machine4.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal3" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <h5>Cylindrical Grinding Machine </h5>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">CYLINDRICAL GRINDING MACHINE</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/machine/machine4.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-5"><br>
                                            <div class="cards">
                                                <div class="card-body">
                                                    <p class="para"> Type: CYLINDRICAL GRINDING MACHINE <br>
                                                        Model: UGM- 700/ 200 S</p>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div><br>

            <div class="col-md-4">
                <img src="/assets/machine/machine5.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal4" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <h5>Perthometer</h5>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">PERTHOMETER</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/machine/machine5.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-5"><br>
                                            <div class="cards">
                                                <div class="card-body">
                                                    <p class="para"> Type: PERTHOMETER <br>
                                                        Specification: TRACING DEVICE, <br>
                                                        L= 100 MM</p>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <img src="/assets/machine/machine6.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal5" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <h5>Vmc Machine Electronica</h5>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">VMC MACHINE ELECTRONICA</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/machine/machine6.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-5"><br>
                                            <div class="cards">
                                                <div class="card-body">
                                                    <p class="para"> VMC MACHINE ELECTRONICA
                                                        <br> Model: Arjun 650
                                                        <br> Specification: 650X450X500 MM
                                                    </p>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <img src="/assets/machine/machine7.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal6" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <h5>Hartford Vmc 4th Axis Machine</h5>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">HARTFORD VMC 4TH AXIS MACHINE</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/machine/machine7.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-5"><br>
                                            <div class="cards">
                                                <div class="card-body">
                                                    <p class="para">Type:HARTFORD VMC 4TH AXIS MACHINE <br>
                                                        Specification: 800 x 460 x 520 mm, <br>
                                                        RPM: 15000
                                                    </p>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div><br>

            <div class="col-md-4">
                <img src="/assets/machine/machine8.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal7" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <h5> Charmilles Spark Edm Machine </h5>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel"> CHARMILLES SPARK EDM MACHINE </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/machine/machine8.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-5"><br>
                                            <div class="cards">
                                                <div class="card-body">
                                                    <p class="para"> CHARMILLES SPARK EDM MACHINE <br>
                                                        MODEL: ROBOFORM-550 <br>
                                                        Specification: 600X400X400 MM
                                                    </p>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div><br>

            <div class="col-md-4">
                <img src="/assets/machine/machine9.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal8" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <h5> Charmilles Spark Edm Machine </h5>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">CHARMILLES SPARK EDM MACHINE </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/machine/machine9.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-5"><br>
                                            <div class="cards">
                                                <div class="card-body">
                                                    <p class="para"> CHARMILLES SPARK EDM MACHINE
                                                        <br> MODEL: ROBOFORM-35
                                                        <br> Specification: 350X250X350 MM
                                                    </p>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div><br>

            <div class="col-md-4">
                <img src="/assets/machine/machine10.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal9" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <h5> Charmilles Spark Edm Machine </h5>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">CHARMILLES SPARK EDM MACHINE </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/machine/machine10.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-5"><br>
                                            <div class="cards">
                                                <div class="card-body">
                                                    <p class="para"> CHARMILLES SPARK EDM MACHINE <br> MODEL: SP 1U
                                                    </p>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <img src="/assets/machine/machine11.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal10" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <h5> Vmc Machine High Speed</h5>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">VMC MACHINE HIGH SPEED </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/machine/machine11.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-5"><br>
                                            <div class="cards">
                                                <div class="card-body">
                                                    <p class="para"> VMC MACHINE HIGH SPEED <br>
                                                        MAKE: HOWA <br>
                                                        Specification: RPM-18000, 150X150X200 MM
                                                    </p>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div><br>

            <div class="col-md-4">
                <img src="/assets/machine/machine12.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal11" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <h5>Spark Edm Machine</h5>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">SPARK EDM MACHINE </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/machine/machine12.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-5"><br>
                                            <div class="cards">
                                                <div class="card-body">
                                                    <p class="para">SPARK EDM MACHINE <br>
                                                        MAKE: ELECTRONICA <br>
                                                        Specification: 600X400X400 MM
                                                    </p>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div><br>

            <div class="col-md-4">
                <img src="/assets/machine/machine2.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal12" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <h5>Wire Cutting Machine</h5>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Wire Cutting Machine </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/machine/machine2.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-5"><br>
                                            <div class="cards">
                                                <div class="card-body">
                                                    <p class="para"> Type: Wire Cutting Machine <br>
                                                        Make: MITSUBISHI <br>
                                                        Model: MV-1200 <br>
                                                        Specification: 290 x 380 x 200 mm
                                                    </p>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div><br>
        </div>
    </div>
</div>