<div class="main"> <br><br>
    <div class="text-center"><br><br>
        <h1>OUR CAPABILITIES AND STRENGTH</h1> <br>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/machine/machine1.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                Type: Wire Cutting Machine <br>
                                Make: SIEBUE <br>
                                Model: M-35B <br>
                                Specification: 250 x 300 x 200 mm</div>
                        </div>
                        <br><br>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/machine/machine3.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                Type: Wire Cutting Machine <br>
                                Make: MITSUBISHI <br>
                                Model: MV-2400 R <br>
                                Specification: 450x650x300mm
                            </div>
                        </div> <br><br>
                    </div>
                </div> <br>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/machine/machine4.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text"> Type: CYLINDRICAL GRINDING MACHINE <br>
                                Model: UGM- 700/ 200 S<br></div>
                        </div> <br><br>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/machine/machine5.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                Type: PERTHOMETER <br>
                                Specification: TRACING DEVICE, <br>
                                L= 100MM
                            </div>
                        </div><br><br>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/machine/machine6.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                VMC MACHINE ELECTRONICA
                                <br> Model: Arjun 650
                                <br> Specification: 650X450X500 MM
                            </div>
                        </div> <br><br>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/machine/machine7.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                HARTFORD VMC 4TH AXIS MACHINE <br>
                                Specification: 800 x 460 x 520 mm, <br>
                                RPM- 15000
                            </div>
                        </div><br><br>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/machine/machine8.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                CHARMILLES SPARK EDM MACHINE <br>
                                MODEL: ROBOFORM -550 <br>
                                Specification: 600X400X400 MM
                            </div>
                        </div> <br><br>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/machine/machine9.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                CHARMILLES SPARK EDM MACHINE
                                <br> MODEL: ROBOFORM -35
                                <br> Specification: 350X250X350 MM
                            </div>
                        </div><br><br>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/machine/machine10.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                CHARMILLES SPARK EDM MACHINE <br> MODEL: SP 1U
                            </div>
                        </div><br><br>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/machine/machine11.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                VMC MACHIEN HIGH SPEED <br>
                                MAKE: HOWA <br>
                                Specification: RPM -18000, 150X150X200 MM
                            </div>
                        </div>
                        <br><br>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img style="height: 500px;" src="/assets/machine/machine12.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                SPARK EDM MACHINE <br>
                                MAKE: ELECTRONICA <br>
                                Specification: 600X400X400 MM
                            </div>
                        </div> <br> <br>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img style="height: 550px;" src="/assets/machine/machine2.jpg" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                Type: Wire Cutting Machine <br>
                                Make: MITSUBISHI <br>
                                Model: MV-1200 <br>
                                Specification: 290 x 380 x 200 mm
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>

        </div>
    </div>

</div>