<div class="main1">
    <div class="container-fluid">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/team.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Our Team</h5>
                        <p class="p">Currently we employ more than 100 full-time staff.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/about1 - Copy.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>About Team</h5>
                        <p class="p">JAI JALARAM INDUSTRIES.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/about2 - Copy.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>About Team</h5>
                        <p class="p">JAI JALARAM INDUSTRIES .</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="main2">
    <div class="container-fluid">
        <div class="container aboutt">
            <br>
            <div class="row">
                <div class="col-md-6">
                    <h1><b> About Jalaram Group</b></h1><br>

                    <span style="color: #c14735;"><b>JAI JALARAM INDUSTRIES</b></span> was established in 1990, we are
                    located in Pune. We are a consortium of
                    Professionals, having expertise in different aspects of manufacturing.
                    <br><br>
                    The business started on a back in 1990. In those early days, we started out as a Silver Brazing Unit
                    for
                    local industry with just two employees. <br> Currently we employ more than 100 full-time staff, and
                    offer
                    manufacturing services for all types of Carbide Jobs & specialist in Powder Compactions Tools, Jigs
                    &
                    Fixtures,Gauges, Silver Brazing, Heat Treatment.
                    <br>
                </div>
                <br>
                <div class="col-md-6">
                    <img width="100%" src="/assets/about1.jpg" alt="">
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<div class="ability">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img class="iconimg" src="/assets/expertise.png" alt=""> <br> <br>
                        <h3>Expertise:</h3>
                        <p>We have the right combination of expertise and equipment to offer you a comprehensive trade
                            service for Carbide Dies & Moulds for Powder Compactions Tools, Jigs & Fixtures, Silver
                            Brazing,
                            Heat Treatment.</p><br>
                    </div>
                    <br>
                </div>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img class="iconimg" src="/assets/ability.png" alt=""><br><br>
                        <h3>Ability:</h3>
                        <p>Jalaram group has made an investment not only in advanced manufacturing technology, but also
                            in
                            the high levels of technical expertise, essential to ensure that both aspects of the
                            industry
                            are combined, ‘hand in hand’ to offer you the highly competitive service you demand.</p>
                    </div>
                    <br>
                </div>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img class="iconimg" src="/assets/capablity.png" alt=""> <br><br>
                        <h3>Capability:</h3>
                        <p>We have Mitsubishi CNC wire cut machines, Seibu Make CNC Wire Cut Machine, Charmills CNC
                            Spark
                            EDM Machines, HOWA make VMC Machines 45000Rpm , ACE CNC Lathe Machines, ACE VMC Machine.</p>
                        <br>
                    </div>
                    <br>
                </div>
            </div><br>
        </div>
    </div>
</div>
<br><br>

<br>
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1 style="color: #c14735;">OUR SISTER CONCERNS</h1>
        </div><br> <br><br>
        <ul>
            <li style="--accent-color:#f6a23e">
                <div class="icon"><img src="/assets/jg.png" alt="" height="50"></div>
                <div class="title">JAI JALARAM INDUSTRIES</div>
                <div class="descr"></div>
            </li>

            <li style="--accent-color:#eb7a3e">
                <div class="icon"><img src="/assets/jg.png" alt="" height="50"></div>
                <div class="title">VEER ENTERPRISES</div>
                <div class="descr"></div>
            </li>

            <li style="--accent-color:#c14735">
                <div class="icon"><img src="/assets/jg.png" alt="" height="50"></div>
                <div class="title">MAYUR ENTERPRISES</div>
                <div class="descr"></div>
            </li>

            <li style="--accent-color:#d26225">
                <div class="icon"><img src="/assets/riya.png" alt="" height="50"></div>
                <div class="title">RIYA ENTERPRISES</div>
                <div class="descr"></div>
            </li>

            <li style="--accent-color:#c14735">
                <div class="icon"><img src="/assets/jg.png" alt="" height="50"></div>
                <div class="title">J SQUARE INDUSTRIES</div>
                <div class="descr"></div>
            </li>
        </ul>
    </div>
</div>
<br><br>


<div class="direactor">
    <div class="container">
        <div class="row">
            <h2>Directors:</h2>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="text-center">
                    <img src="/assets/director1.jpg" class="imgd" alt="">
                    <br>
                    <br>
                    <h4>Mr. Nitin Bhagat</h4>
                    <p><b>Designation :</b> Managing Director <br>
                        <b>Email:</b> nitinbhagat&#64;jalaramgroup.info
                    </p>
                </div>
            </div><br>
            <div class="col-md-4">
                <div class="text-center">
                    <img src="/assets/director2.jpg" class="imgd" alt="">
                    <br>
                    <br>
                    <h4>Mr. Mayur Bhagat</h4>
                    <p><b>Designation :</b> Head of Operations <br>
                        <b>Email:</b> mayurbhagat&#64;jalaramgroup.info
                    </p>
                </div>
            </div><br>

            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<br><br>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="div">
                        <h2>REGISTRATION DETAILS :</h2> <br>
                        <p style="font-size: medium;"><b>GSTIN</b>: 27AIQPB0184J1Z5 <br>
                            <b>UDYOG ADHAR</b>: UDYAM-MH-26-0091975 <br>
                            <b>ISO CERTIFICATE</b>: An ISO 9001-2015 (7588/QMS/0221) <br>
                            <b>ESTABLISHMENT DATE.</b>: 1st Aug 1990
                        </p>
                    </div>

                    <div class="col-md-12">
                        <div class="card cs">
                            <div class="card-body">
                                <h5>UNIT-I:</h5>
                                <p>Gala No. B43, B38, B56, B29, B46, Pavana Industrial Complex, <br> T-204, MIDC
                                    Bhosari,
                                    Pune –411026 <span class="liness">
                                        <a href="https://maps.app.goo.gl/xAdFsHFsv8EavcHk8" target="_blank">

                                            <i class="fa-solid fa-chevron-right fa-2xl"></i></a></span></p>
                            </div>
                        </div><br>
                    </div><br>
                    <div class="col-md-12">
                        <div class="card cs">
                            <div class="card-body">
                                <h5>UNIT-II:</h5>
                                <p>Plot No. W-35, T-Block, MIDC Bhosari, Pune – 411026 <span class="liness">
                                        <a href="https://maps.app.goo.gl/c8SRiMv9aBVhdUdj9" target="_blank">
                                            <i class="fa-solid fa-chevron-right fa-2xl"></i></a></span></p>
                            </div>
                        </div><br>
                    </div><br>
                    <div class="col-md-12">
                        <div class="card cs">
                            <div class="card-body">
                                <h5>UNIT-III:</h5>
                                <p> Plot No. 13/14, Ahilya Mahila Industrial Premises, Village Shinde, <br> Phase II,
                                    MIDC,Chakan, Pune – 410501 <span class="liness">
                                        <a href="https://maps.app.goo.gl/xyJxHh169kitD6826" target="_blank">
                                            <i class="fa-solid fa-chevron-right fa-2xl"></i> </a></span></p>
                            </div>
                        </div><br>
                    </div><br>
                </div>
                <br>
            </div><br>

            <div class="col-md-6"> <br><br>
                <h2>Team :</h2>
                <img width="100%" src="/assets/teams.jpg" alt="">
                <br>
            </div><br>
        </div>
    </div>
</div>