h2 {
    color: #c14835;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    color: black;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #f5c591;
    text-decoration-thickness: 4px;
}

.iconimg {
    width: 30%;
}

.card-bodyp {
    padding: 5%;
}

img {
    width: 100%;
}

.cs:hover {
    background-color: #f7f1eb;

    .liness {
        background-color: #dd8930;
        color: white;
    }

    :is(h5) {
        color: #c14735;
    }

    :is(a) {
        color: white;
    }
}

.liness:hover {
    background-color: #dd8930;
    color: white;
}

.liness {
    border: 0;
    color: #dd8930;
    background: rgba(255, 255, 255, 0.1);
    width: 60px;
    height: 60px;
    line-height: 65px;
    display: block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #dd8930;   
    float: inline-end;
}

.fa-chevron-right{
   text-align: center;
    margin-top: 27px;
}

a {
    color: #dd8930;
}

.imgd {
    /* border-radius: 50%; */
    /* height: 50%;
    width: 50%; */
    text-align: center;
    border: 2px solid #dd8930;
}

.imgd:hover {
    border: 5px solid #dd8930;
    border-radius: 50%;
    /* box-shadow: 0px 12px 8px 0px #dd8930, 0px 2px 4px 0px #dd8930, 0px 0px 0px 1px #dd8930 inset; */
}

.card-title{
    color: #dd8930;
}

.main1 {
    background-color: #db8c37;
}

.main2 {
    background-color: #f5f3f0;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.aboutt {
    padding: 4%;
}

.directorname {
    font-size: 6.5em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 540;
    /* font-family: Times, 'Times New Roman'; */
    line-height: 105px;
}

.directorname2 {
    font-size: 6.5em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 540;
    /* font-family: Times, 'Times New Roman'; */
    line-height: 105px;
}

.directorimg {
    margin-top: 80px;
}

.h4 {
    font-size: 1.3em;
}

.tabview {
    display: none;
}

.abouts {
    font-size: 35px;
    padding: 1% 6% 1% 6%;
    color: #c14735;
}

.aboutpara {
    font-size: 19px;
    padding: 0% 4% 1% 4%;
}

.desig {
    color: white;
    font-size: 25px;
}

.mainnn {
    padding-left: 30%;
}

.mainnn .card {
    /* padding: 5%; */
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: #ed7a3e;
    color: white;
    border: 5px solid #fab700;
}

.para {
    font-size: 1.1rem;
}

.card-title {
    font-size: 1.5rem;
    color: black;
}

.carousel-control-prev {
    margin-left: 23.5%;
}

.carousel-control-next {
    margin-right: 25%;
}

.bborders {
    background-color: #c14735;
    height: 200px;

}

.nav-link {
    background-color: white;
    color: black;
    font-size: medium;
    margin: 0%;
}

.nav-link:hover {
    background-color: #d8c7b5;
    font-size: medium;
    color: black;
    font-weight: 700;
}

.nav-link.active {
    border-top: 3px solid #c14735;
    background-color: white;
    color: black;
    font-weight: 700;
}

@media(max-width:768px) {
    .abouts {
        font-size: 25px;
        padding: 1% 2% 1% 2%;
        color: #c14735;
    }

    .laptopview {
        display: none;
    }

    .tabview {
        display: block !important;
    }

    .tabview .directorimg {
        margin-top: 30%
    }

    .mainnn {
        padding-left: 16%;
    }

    .carousel-control-prev {
        margin-left: 9%;
    }

    .carousel-control-next {
        margin-right: 6%;
    }

    .nav-link {
        background-color: white;
        color: black;
        font-size: small;
    }
}

@media(max-width:439px) {
    .mainnn {
        padding-left: 0%;
    }

    .abouts {
        font-size: 20px;
    }

    .mainnn .card {
        padding: 0%;
        height: 400px;
        width: 400px;
        border-radius: 50%;
        background-color: #dba56b;
        color: white;
        border: 2px solid yellow;
    }

    .para {
        font-size: 1rem;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .carousel-control-prev {
        display: none;
    }

    .carousel-control-next {
        display: none;
    }
}

.tabimg {
    background-image: url('/assets/tab_bg.jpg');
    padding: 5%;
}

.carousel-indicators {
    color: wheat;
}

.quotes {
    font-weight: 900;
    margin-top: -8%;
    /* text-align: end; */
    margin-inline-start: 77%;
    font-size: 5em;
    color: #bf2710;
}

.quote {
    font-weight: 900;
    margin-bottom: -22%;
    font-size: 5em;
    color: #bf2710;
}

.rightquote {
    font-weight: 900;
    margin-bottom: -22%;
    font-size: 5em;
    color: #bf2710;
    text-align: start;
}

.rightquotes {
    font-weight: 900;
    margin-top: -6%;
    /* text-align: end; */
    margin-inline-start: 74%;
    font-size: 5em;
    color: #bf2710;
}

.test {
    padding-right: 5%;
}

@keyframes zoomin {
    0% {
        transform: scale(0);
        transition: ease-in;
    }

    100% {
        transform: scale(1.1);
        transition: ease-in-out;
    }
}

/* 
.ab {
    animation: zoomin 2s infinite;
} */


.abouthead {
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-weight: 500;
    margin: 0;
    z-index: 999;
    /* -webkit-text-stroke: 3px red;s */
    /* text-shadow: -28px -36px 1px #3A3B3C;     */

}

strong {
    left: 50%;
    font-size: 87px;
    line-height: 97px;
    top: -60px;
    /* position: absolute; */
    /* content: ''; */
    z-index: -1;
    font-weight: 700;
    /* -webkit-text-stroke: 1.5px #000;
    -moz-text-stroke: 1.5px #000;
    -o-text-stroke: 1.5px #000;
    -webkit-text-stroke: 1.5px #000; */
    text-shadow: 1px 6px 1px #0000004a;
    color: #fcb900;
    display: block;
    width: 100%;
}

.teamimg {
    width: 105%;
    height: 125%;
}