<br><br>
<div class="main1 laptopview">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br><br>
                <div class="quote">
                    ❛❛
                </div>
                <p class="h4" style="color: white; padding-left: 8%;"><br><br><br> <b>
                        JAI JALARAM INDUSTRIES </b> was established in 1990. We are located in
                    Pune. We are a consortium of
                    professionals with expertise in different aspects of manufacturing. </p>
                <div class="quotes">
                    ❜❜
                </div>
                <p class="directorname">Mr. Nitin <br> <span style="padding-left: 180px;">
                        Bhagat </span></p>
                <p class="desig"> Managing Director, Jalaram Group
                    <br>
                </p>
            </div><br>
            <div class="col-md-6">
                <img class="directorimg" src="/assets/about/Mr. Nitin Bhagat.png" alt="images ">
            </div><br>
        </div>
    </div>
</div>

<div class="main1 tabview">
    <div class="container"><br>
        <div class="row"><br><br><br>
            <div class="col-md-12">
                <h4 style="color: white;"><br><i class="fa-solid fa-quote-left fa-2xl" style="color: white;"></i> <b>
                        JAI JALARAM INDUSTRIES </b> was established in 1990. We are located in
                    Pune. We are a consortium of
                    professionals with expertise in different aspects of manufacturing. <i
                        class="fa-solid fa-quote-right fa-2xl"></i></h4>
            </div>
            <div class="col-md-6">

                <p class="directorname">Mr. Nitin <span style="padding-left: 100px;">
                        Bhagat </span></p>
                <p class="desig"> Managing Director, Jalaram Group
                    <br>
                </p>
            </div><br>
            <div class="col-md-6">
                <img class="directorimg" src="/assets/about/Mr. Nitin Bhagat.png" alt="images ">
            </div><br>
        </div>
    </div>
</div>

<!-- <div class="main2">
    <div class="container-fluid">
        <div class="container aboutt">
            <br>
            <div class="row">
                <div class="col-md-6">
                    <h1><b> About Jalaram Group</b></h1><br>

                    <span style="color: #c14735;"><b>JAI JALARAM INDUSTRIES</b></span> was established in 1990, we are
                    located in Pune. We are a consortium of
                    professionals, having expertise in different aspects of manufacturing.
                    <br><br>
                    The business started on a back in 1990. In those early days, we started out as a Silver Brazing Unit
                    for
                    local industry with just two employees. <br> Currently we employ more than 100 full-time staff, and
                    offer
                    manufacturing services for all types of Carbide Jobs & specialist in Powder Compactions Tools, Jigs
                    &
                    Fixtures,Gauges, Silver Brazing, Heat Treatment.
                    <br>
                </div>
                <br>
                <div class="col-md-6">
                    <img width="100%" src="/assets/about1.jpg" alt="images ">
                </div>
            </div>
            <br>
        </div>
    </div>
</div> -->

<div class="">
    <div class="container-fluid">
        <div class="container aboutt">
            <br>
            <div class="row">
                <div class="text-center ab">
                    <h1>
                        <strong>Growth is Life</strong>
                    </h1><br>
                    <p class="abouts"> <span style="color: #c14735;"><b>JAI JALARAM INDUSTRIES</b></span> was
                        established in 1990. We are
                        located in Pune. We are a consortium of
                        professionals with expertise in different aspects of manufacturing.
                        <br>
                    </p>
                    <p class="aboutpara">The business started back in 1990. In those early days, we started out as a
                        silver brazing unit for local industry with just two employees. Currently we employ more than
                        100 full-time staff and offer manufacturing services for all types of carbide jobs and
                        specialize in powder compaction tools, jigs & fixtures, gauges, silver brazing, and heat
                        treatment.</p>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<br>
<div class="main1 laptopview">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="directorimg" src="/assets/about/Mr. Mayur Bhagat_1.png" alt="images ">
            </div><br>
            <div class="col-md-6 test">
                <br><br><br>
                <div class="text-end">
                    <div class="rightquote">
                        ❛❛
                    </div>
                    <h4 style="color: white;padding-left: 2%;"><br><br><br> <b>
                            JAI JALARAM INDUSTRIES </b> was established in 1990. We are located in
                        Pune. Mayur Enterprises. </h4>
                    <div class="rightquotes">
                        ❜❜
                    </div>
                    <br>
                    <p class="directorname"> <span> Mr. Mayur</span> <br>
                        <span style="margin-right: -20px;">Bhagat</span>
                    </p>
                    <p class="desig"> Head of Operations, Jalaramgroup <br> (Mayur Enterprises)
                        <br>
                    </p>
                </div>
            </div><br>

        </div>
    </div>
</div>

<div class="main1 tabview">
    <div class="container">
        <div class="row"><br><br><br>
            <div class="col-md-12">
                <h4 style="color: white;"><br><i class="fa-solid fa-quote-left fa-2xl" style="color: white;"></i> <b>
                        JAI JALARAM INDUSTRIES </b> was established in 1990. We are located in
                    Pune. We are a consortium of
                    professionals with expertise in different aspects of manufacturing. <i
                        class="fa-solid fa-quote-right fa-2xl"></i></h4>
            </div>
            <div class="col-md-6">
                <img class="directorimg" src="/assets/about/Mr. Mayur Bhagat_1.png" alt="images ">
            </div><br>
            <div class="col-md-6">

                <p class="directorname">Mr. Mayur <br> <span style="padding-left: 70px;">
                        Bhagat </span></p>
                <p class="desig"> Head of Operations, Jalaramgroup
                    (Mayur Enterprises)
                    <br>
                </p>
            </div><br>

        </div>
    </div>
</div>

<br><br><br>
<div class="ability">

    <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <div class="container">
                    <div class="text-center">
                        <div class="mainnn">
                            <div class="card">
                                <div class="card-body">
                                    <br><img class="iconimg" src="/assets/expertise.png" alt="images "> <br>
                                    <div class="text-center">
                                        <h5 class="card-title">Expertise</h5>
                                    </div> <br>
                                    <p class="para">We have the right combination of expertise and equipment to offer
                                        you a comprehensive trade service for carbide dies & molds for powder compaction
                                        tools, jigs & fixtures, silver brazing, and heat treatment.</p><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item" data-bs-interval="1000">
                <div class="container">
                    <div class="text-center">
                        <div class="mainnn">
                            <div class="card">
                                <div class="card-body">
                                    <img class="iconimg" src="/assets/ability.png" alt="images "><br>
                                    <div class="text-center">
                                        <h5 class="card-title">Ability</h5>
                                    </div><br>
                                    <p class="para">The Jalaram Group has made an investment not only in advanced
                                        manufacturing technology but also in the high levels of technical expertise,
                                        essential to ensure that both aspects
                                        of the industry are combined, ‘hand in hand, to offer you the highly competitive
                                        service you demand.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <div class="container">
                    <div class="text-center">
                        <div class="mainnn">
                            <div class="card">
                                <div class="card-body">
                                    <br>
                                    <img class="iconimg" src="/assets/capablity.png" alt="images "> <br>
                                    <div class="text-center">
                                        <h5 class="card-title">Capability</h5>
                                    </div> <br>
                                    <p class="para">We have Mitsubishi CNC wire cut machines, Seibu Make CNC wire cut
                                        machines, Charmilles CNC spark EDM machines, HOWA make VMC machines (45000 rpm),
                                        ACE CNC lathe machines, and ACE VMC machines.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="color: #be3722;"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="color: #c14735;"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

    <div class="bborderss">

    </div>

</div>
<br><br>

<div class="container">
    <div class="tabimg">
        <div class="text-center">
            <!-- <h2>Our Associated Organizations</h2> -->
            <h2>Our Business Divisions</h2>
        </div>
        <br><br>

        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                    aria-selected="true">JAI JALARAM INDUSTRIES</button>

                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                    aria-selected="false">VEER ENTERPRISES</button>


                <button class="nav-link" id="v-pills-mayur-tab" data-bs-toggle="pill" data-bs-target="#v-pills-mayur"
                    type="button" role="tab" aria-controls="v-pills-mayur" aria-selected="false">MAYUR
                    ENTERPRISES</button>

                <button class="nav-link" id="v-pills-riya-tab" data-bs-toggle="pill" data-bs-target="#v-pills-riya"
                    type="button" role="tab" aria-controls="v-pills-riya" aria-selected="false">RIYA
                    ENTERPRISES</button>

                <button class="nav-link" id="v-pills-plastic-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-plastic" type="button" role="tab" aria-controls="v-pills-plastic"
                    aria-selected="false">Jalaram Plastic Industries</button>

                <button class="nav-link" id="v-pills-jsquare-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-jsquare" type="button" role="tab" aria-controls="v-pills-jsquare"
                    aria-selected="false">J SQUARE INDUSTRIES</button>

                <button class="nav-link" id="v-pills-delight-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-delight" type="button" role="tab" aria-controls="v-pills-delight"
                    aria-selected="false">JALARAM DELIGHT</button>
            </div>

            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab" tabindex="0">
                    <div class="container">
                        <br><br>
                        <div class="row">
                            <div class="text-center">
                                <img src="/assets/logo.png" alt="images industries"><br>
                                <h5 class="card-title">JAI JALARAM INDUSTRIES</h5>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis in tenetur
                                    neque
                                    vero quae, blanditiis quaerat ab saepe, est recusandae sed incidunt quo? Aut natus
                                    aspernatur quibusdam debitis! Corporis, odit!</p>
                            </div>
                        
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
                    tabindex="0">
                    <div class="container"> <br><br>
                        <div class="row">
                            <div class="text-center">
                                <img src="/assets/veerlogo.png" alt="images enterprises"><br>
                                <br>
                                <h5 class="card-title">VEER ENTERPRISES</h5>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis in tenetur
                                    neque
                                    vero quae, blanditiis quaerat ab saepe, est recusandae sed incidunt quo? Aut natus
                                    aspernatur quibusdam debitis! Corporis, odit!</p>
                            </div><br>

                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-mayur" role="tabpanel" aria-labelledby="v-pills-mayur-tab"
                    tabindex="0">
                    <div class="container"> <br><br>
                        <div class="row">
                            <div class="text-center">
                                <img src="/assets/mayurlogo.png" alt="images "><br>
                                <br>
                                <h5 class="card-title">MAYUR ENTERPRISES</h5>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis in tenetur
                                    neque
                                    vero quae, blanditiis quaerat ab saepe, est recusandae sed incidunt quo? Aut natus
                                    aspernatur quibusdam debitis! Corporis, odit!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-riya" role="tabpanel" aria-labelledby="v-pills-riya-tab"
                    tabindex="0">
                    <div class="container"> <br><br>
                        <div class="row">
                            <div class="text-center">
                                <img src="/assets/jriyalogo1.png" alt="images "><br>
                                <br>
                                <h5 class="card-title">RIYA ENTERPRISES</h5>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis in tenetur
                                    neque
                                    vero quae, blanditiis quaerat ab saepe, est recusandae sed incidunt quo? Aut natus
                                    aspernatur quibusdam debitis! Corporis, odit!</p>
                            </div><br>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-plastic" role="tabpanel" aria-labelledby="v-pills-plastic-tab"
                    tabindex="0">
                    <div class="container">
                        <div class="row">
                            <div class="text-center">
                                <img src="/assets/jplasticlogo.png" alt="images "><br>
                                <br>
                                <h5 class="card-title">JALARAM PLASTIC INDUSTRIES</h5>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis in tenetur
                                    neque
                                    vero quae, blanditiis quaerat ab saepe, est recusandae sed incidunt quo? Aut natus
                                    aspernatur quibusdam debitis! Corporis, odit!</p>
                            </div><br>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-jsquare" role="tabpanel" aria-labelledby="v-pills-jsquare-tab"
                    tabindex="0">
                    <div class="container">
                        <br><br>
                        <div class="row">
                            <div class="text-center">
                                <img src="/assets/logo.png" alt="images "><br>
                                <br>
                                <h5 class="card-title">J SQUARE INDUSTRIES</h5>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis in tenetur
                                    neque
                                    vero quae, blanditiis quaerat ab saepe, est recusandae sed incidunt quo? Aut natus
                                    aspernatur quibusdam debitis! Corporis, odit!</p>
                            </div><br>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-delight" role="tabpanel" aria-labelledby="v-pills-delight-tab"
                    tabindex="0">
                    <div class="container">
                        <br>
                        <div class="row">
                            <div class="text-center">
                                <img src="/assets/newjd.png" alt="images "><br>
                                <br>
                                <h5 class="card-title">JALARAM DELIGHT</h5>
                                <br>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis in tenetur
                                    neque vero quae, blanditiis quaerat ab saepe, est recusandae sed incidunt quo? Aut natus
                                    aspernatur quibusdam debitis! Corporis, odit!</p>
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img class="iconimg" src="/assets/expertise.png" alt="images "> <br> <br>
                        <h3>Expertise:</h3>
                        <p>We have the right combination of expertise and equipment to offer you a comprehensive trade
                            service for Carbide Dies & Moulds for Powder Compactions Tools, Jigs & Fixtures, Silver
                            Brazing,
                            Heat Treatment.</p><br>
                    </div>
                    <br>
                </div>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img class="iconimg" src="/assets/ability.png" alt="images "><br><br>
                        <h3>Ability:</h3>
                        <p>Jalaram group has made an investment not only in advanced manufacturing technology, but also
                            in
                            the high levels of technical expertise, essential to ensure that both aspects of the
                            industry
                            are combined, ‘hand in hand’ to offer you the highly competitive service you demand.</p>
                    </div>
                    <br>
                </div>
            </div><br>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img class="iconimg" src="/assets/capablity.png" alt="images "> <br><br>
                        <h3>Capability:</h3>
                        <p>We have Mitsubishi CNC wire cut machines, Seibu Make CNC Wire Cut Machine, Charmills CNC
                            Spark
                            EDM Machines, HOWA make VMC Machines 45000Rpm , ACE CNC Lathe Machines, ACE VMC Machine.</p>
                        <br>
                    </div>
                    <br>
                </div>
            </div><br>
        </div>
    </div> -->
<br>
<!-- <div class="container">
    <div class="row">
        <div class="text-center">
            <h1 style="color: #c14735;">OUR SISTER CONCERNS</h1>
        </div><br> <br><br>
        <ul>
            <li style="--accent-color:#f6a23e">
                <div class="icon"><img src="/assets/jg.png" alt="images " height="50"></div>
                <div class="title">JAI JALARAM INDUSTRIES</div>
                <div class="descr"></div>
            </li>

            <li style="--accent-color:#eb7a3e">
                <div class="icon"><img src="/assets/jg.png" alt="images " height="50"></div>
                <div class="title">VEER ENTERPRISES</div>
                <div class="descr"></div>
            </li>

            <li style="--accent-color:#c14735">
                <div class="icon"><img src="/assets/jg.png" alt="images " height="50"></div>
                <div class="title">MAYUR ENTERPRISES</div>
                <div class="descr"></div>
            </li>

            <li style="--accent-color:#d26225">
                <div class="icon"><img src="/assets/riya.png" alt="images " height="50"></div>
                <div class="title">RIYA ENTERPRISES</div>
                <div class="descr"></div>
            </li>

            <li style="--accent-color:#c14735">
                <div class="icon"><img src="/assets/jg.png" alt="images " height="50"></div>
                <div class="title">J SQUARE INDUSTRIES</div>
                <div class="descr"></div>
            </li>
        </ul>
    </div>
</div> -->
<br><br>
<div class="main"> <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="div">
                        <h2>REGISTRATION DETAILS :</h2> <br>
                        <p style="font-size: medium;"><b>GSTIN</b>: 27AIQPB0184J1Z5 <br>
                            <b>UDYOG ADHAR</b>: UDYAM-MH-26-0091975 <br>
                            <b>ISO CERTIFICATE</b>: An ISO 9001-2015 (7588/QMS/0221) <br>
                            <b>ESTABLISHMENT DATE.</b>: 1st Aug 1990
                        </p>
                    </div>

                    <div class="col-md-12">
                        <div class="card cs">
                            <div class="card-body">
                                <h5>UNIT-I:</h5>
                                <p>Gala No. B43, B38, B56, B29, B46, Pavana Industrial Complex, <br> T-204, MIDC
                                    Bhosari,
                                    Pune –411026 <span class="liness">
                                        <a href="https://maps.app.goo.gl/xAdFsHFsv8EavcHk8" target="_blank">
                                            <i class="fa-solid fa-chevron-right fa-2xl"></i></a></span>
                                </p>
                            </div>
                        </div><br>
                    </div><br>

                    <div class="col-md-12">
                        <div class="card cs">
                            <div class="card-body">
                                <h5>UNIT-II:</h5>
                                <p>Plot No. W-35, T-Block, MIDC Bhosari, Pune – 411026 <span class="liness">
                                        <a href="https://maps.app.goo.gl/c8SRiMv9aBVhdUdj9" target="_blank">
                                            <i class="fa-solid fa-chevron-right fa-2xl"></i></a></span>
                                </p>
                            </div>
                        </div><br>
                    </div><br>
                    <div class="col-md-12">
                        <div class="card cs">
                            <div class="card-body">
                                <h5>UNIT-III:</h5>
                                <p> Plot No. 13/14, Ahilya Mahila Industrial Premises, Village Shinde, <br> Phase II,
                                    MIDC,Chakan, Pune – 410501 <span class="liness">
                                        <a href="https://maps.app.goo.gl/xyJxHh169kitD6826" target="_blank">
                                            <i class="fa-solid fa-chevron-right fa-2xl"></i>
                                        </a></span>
                                </p>
                            </div>
                        </div><br>
                    </div><br>
                </div>
                <br>
            </div><br>

            <div class="col-lg-6 col-md-12"> <br><br>
                <h2> <br> Team :</h2> <br>
                <div class="row">
                    <div class="col-md-12">
                        <img src="/assets/a.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12"><img class="teamimg" src="/assets/about1 - Copy.jpg"
                                alt="...">
                        </div><br>
                        <div class="col-lg-6  col-md-6  col-12"><img class="teamimg" src="/assets/about2 - Copy.jpg"
                                alt="...">
                        </div><br>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
</div>