<br> <br>
<div class="main">
    <div class="container">

        <div class="text-center"><br><br>
            <h2>PRODUCTS WE HAVE MANUFACTURED</h2>
        </div>
        <br><br>

        <div class="row">
            <div class="col-md-3">
                <img src="/assets/products/product1.jpg" class="img" alt=""> <br>

                <br>
            </div><br>
            <div class="col-md-3">
                <img src="/assets/products/product2.jpg" class="img" alt=""> <br>
                <!-- <div class="img">
                    <lib-ngx-image-zoom [thumbImage]=i2 [fullImage]=i2FullresImage Zoom mode=toggle class="img">
                    </lib-ngx-image-zoom>
                </div> -->
                <br>
            </div><br>
            <div class="col-md-3">

                <!-- Button trigger modal -->
                <img src="/assets/products/product3.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Products</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product3.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product4.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br>
            </div><br>
            <!-- <div class="col-md-3">
                <img src="/assets/products/product4.jpg" alt=""> <br>
                <br>
            </div><br> -->
            <div class="col-md-3">
                <img src="/assets/products/product5.jpg" class="img" alt=""> <br>
                <br>
            </div><br>
            <div class="col-md-3">
                <!-- <img src="/assets/products/product6.jpg" alt=""> <br> -->

                <!-- Button trigger modal -->
                <img src="/assets/products/product6.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal1" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Products</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product6.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product7.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>
            <!-- <div class="col-md-3">
                <img src="/assets/products/product7.jpg" alt=""> <br>
                <br>
            </div><br> -->
            <div class="col-md-3">
                <!-- Button trigger modal -->
                <img src="/assets/products/product8.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal2" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <!-- Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Products</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product8.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product9.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div><br>

            <div class="col-md-3">

                <!-- Button trigger modal -->
                <img src="/assets/products/product10.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal3" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <!-- Modal -->
                <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Products</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product10.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product11.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div><br>

            <div class="col-md-3">
                <img src="/assets/products/product12.jpg" class="img" alt=""> <br>
                <br>
            </div><br>
            <div class="col-md-3">
                <img src="/assets/products/product13.jpg" class="img" alt=""> <br>
                <br>
            </div><br>
            <div class="col-md-3">

                <!-- Button trigger modal -->
                <img src="/assets/products/product14.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal4" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <!-- Modal -->
                <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Products</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product14.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product15.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div><br>

            <div class="col-md-3">
                <!-- Button trigger modal -->
                <img src="/assets/products/product16.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal5" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <!-- Modal -->
                <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Products</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product16.jpg" alt="">
                                                    <!-- <div class="img">
                                                        <lib-ngx-image-zoom [thumbImage]=i16 [fullImage]=i16FullresImage
                                                            Zoom mode=toggle>
                                                        </lib-ngx-image-zoom>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product17.jpg" alt="">
                                                    <!-- <div class="img">
                                                        <lib-ngx-image-zoom [thumbImage]=i17 [fullImage]=i17FullresImage
                                                            Zoom mode=toggle>
                                                        </lib-ngx-image-zoom>
                                                    </div> -->

                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><br>

            <div class="col-md-3">
                <img src="/assets/products/product18.jpg" class="img" alt=""> <br>
                <!-- <div class="img">
                    <lib-ngx-image-zoom [thumbImage]=myThumbnail [fullImage]=myFullresImage Zoom mode=toggle>
                    </lib-ngx-image-zoom>
                </div> -->
                <br>
            </div><br>

            <div class="col-md-3">
                <img src="/assets/products/product19.jpg" class="img" alt=""> <br>
                <br>
            </div><br>
            <div class="col-md-3">
                <img src="/assets/products/product20.jpg" class="img" alt=""> <br>
                <br>
            </div><br>
            <div class="col-md-3">
                <img src="/assets/products/product21.jpg" class="img" alt=""> <br>
                <br>
            </div><br>
            <div class="col-md-3">
                <img src="/assets/products/product22.jpg" class="img" alt=""> <br>
                <br>
            </div><br>
            <div class="col-md-3">
                <img src="/assets/products/product23.jpg" class="img" alt=""> <br>
                <br>
            </div><br>
            <div class="col-md-3">
                <img src="/assets/products/product24.jpg" class="img" alt=""> <br>
                <br>
            </div><br>
            <div class="col-md-3">

                <!-- Button trigger modal -->
                <img src="/assets/products/product25.jpg" class="img" alt="" data-bs-toggle="modal"
                    data-bs-target="#exampleModal6" data-mdb-toggle="tooltip" data-mdb-placement="top"
                    title="Click Here">
                <!-- Modal -->
                <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Products</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product25.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product26.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="/assets/products/product27.jpg" alt="">
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <br>
            </div><br>

            <div class="col-md-3">
                <img src="/assets/products/product28.jpg" class="img" alt=""> <br>
                <!-- <div class="img">
                    <lib-ngx-image-zoom [thumbImage]=i28 [fullImage]=i28FullresImage Zoom mode=toggle>
                    </lib-ngx-image-zoom>
                </div> -->

                <br>
            </div><br>
        </div>
    </div>
</div>