<app-navbar></app-navbar><br>
<router-outlet></router-outlet>

<!-- 
<div class="dropup-center dropup">
    <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Centered dropup
    </button>
    <ul class="dropdown-menu">
        <li><a href="https://wa.me/919119494140?text=Hii%20welcome to fourthdm" target="_blank">WhatsApp</a>
        </li>
        <li><a class="dropdown-item" href="#">Action two</a></li>
        <li><a class="dropdown-item" href="#">Action three</a></li>
    </ul>
    
</div> -->

<app-footer></app-footer>