<app-navbar></app-navbar><br>
<router-outlet></router-outlet>

<div class="bttons">
        <!-- <i class="fa-solid fa-circle-half-stroke fa-2xl" (click)="toggleTheme()"></i> -->
        <br><br><br>
        <a href="https://wa.me/918010089172?text=Hii%20welcome to fourthdm" target="_blank"
                aria-label="Read more about"><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
        <br><br><br>
        <a href="tel:+918010089172" aria-label="Read more about"><i
                        class="fa-solid fa-phone-volume fa-xl"></i></a><br><br><br>
        <a href="#!" (click)="scroll()" aria-label="Read more about"><i
                        class="fa-regular fa-square-caret-up fa-2xl"></i></a> <br><br>
        
</div>

<app-footer></app-footer>