<br>
<div class="main">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="/assets/banner/Banner_Jalaram-group_02.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/assets/banner/Jalaram Plastic_P_Industry_banner.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="/assets/banner/Riya_E_Banner.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="logos">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="/assets/Jalaram_G_Logos-04.png" alt="Logo 1"> <br>&nbsp;
                            <h5 class="card-title"><a target="_blank" class="al"
                                    href="https://jalaramdelight.com/">www.Jalaramdelight.com</a></h5>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>
            <div class="col-md-4">
                <div class="">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="/assets/jplasticlogo.png" alt="Logo 1"> <br> <br>
                            <h5 class="card-title"><a target="_blank" class="al"
                                    href="http://plastic.jalaramgroup.info/">www.Plastic.jalaramgroup.info</a></h5>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>
            <div class="col-md-4">
                <div class="">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="/assets/jriyalogo.png" alt="Logo 1"> <br><br>
                            <h5 class="card-title"><a target="_blank" class="al"
                                    href="https://riyaenterprises.tools/">www.RiyaEnterprises.tools</a></h5>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>
        </div>
    </div>
</div>

<div class="about">
    <div class="bg-image">
        <img src="/assets/Back_image_1.jpg" class="img-fluid" alt="Sample" />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="row">
                <div class="col-md-4 animate__animated animate__slideInLeft"> <br><br><br>
                </div>
                <div class="col-md-8 "><br><br>
                    <div class="container">
                        <div class="cardabout">
                            <h3><b>Welcome To</b> </h3>
                            <h1><b style="color:#ea5f2c;"> Jalaram Group</b></h1>
                            <br>
                            <div class="divp">
                                <p>Jalaram Group is a group of Industries which owns <b style="color:#ea5f2c;">JAI
                                        JALARAM
                                        INDUSTRIES, VEER
                                        ENTERPRISES, MAYUR
                                        ENTERPRISES, RIYA ENTERPRISES & J SQUARE INDUSTRIES</b>
                                    <br>
                                    <br>
                                    Jalaram Group was formed in the year 1990 in Pune by Mr. Rameshwar Bhagat.We have
                                    the
                                    right
                                    combination of expertise and equipment to offer you a comprehensive trade service
                                    for
                                    Carbide Dies &
                                    Moulds for Powder Compactions Tools, Jigs & Fixtures, Silver Brazing, Heat
                                    Treatment.
                                </p>
                            </div>
                            <br>
                            <button class="btn btn-warning btn-lg" [routerLink]="['/about']" >Learn More</button>
                            <br>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="wehave">
    <div class="container">
        <div class="row">
            <div class="col-md-4  animate__animated animate__slideInLeft animate__delay-2s">
                <div class="card we">
                    <div class="card-body">
                        <h3>What We Design ?</h3>
                        <p>We have professional and hands-on experienced designers, who are well trained in CAD, CAM and
                            mould designing softwares. Our deisgners understands the need of clients and design as per
                            clients satisfactory, which helps further manufacturing process easy and accurate.</p>
                    </div>
                </div>
            </div><br>
            <div class="col-md-4  animate__animated animate__slideInLeft animate__delay-1s">
                <div class="card we">
                    <div class="card-body">
                        <h3>What We Manufacture ?</h3>
                        <p>We have well equipped and advanced CNC, EDM and VMC imported machines which are regularly
                            serviced and well maintained by our professionals. We maintain sufficient raw materials and
                            tools in stocks which helps us to deliver quality products and quality tested materials in
                            time.</p>
                    </div>
                </div>
            </div><br>
            <div class="col-md-4  animate__animated animate__slideInLeft ">
                <div class="card we">
                    <div class="card-body">
                        <h3>What We Deliver ?</h3>
                        <p>We have special team who manage to deliver all requested orders in time. All our products are
                            well tested and cross checked by our experienced delivery team which avoids errors in
                            delivering products. We have our own transport facilities which helps us to avoid delay in
                            transportation.</p>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
</div>
<br>
<br><br>
<div class="count">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">

                    <div class="circle">
                        <div class="inner">
                            <div class="text-center"><br>
                                <p class="cot">21350</p>
                            </div>
                        </div>
                    </div><br><br>
                    <h5 class="fcount">Products Designed</h5>
                </div>
            </div><br>

            <div class="col-md-3">
                <div class="text-center">
                    <div class="circle">
                        <div class="inner">
                            <div class="text-center"><br>
                                <p class="cot">975</p>
                            </div>
                        </div>
                    </div><br><br>
                    <h5 class="fcount">Products Manufactured</h5>
                </div>
            </div><br>

            <div class="col-md-3">
                <div class="text-center">
                    <div class="circle">
                        <div class="inner">
                            <div class="text-center"><br>
                                <p class="cot">750</p>
                            </div>
                        </div>
                    </div><br><br>
                    <h5 class="fcount">Products Delivered</h5>
                </div>
            </div><br>

            <div class="col-md-3">
                <div class="text-center">
                    <div class="circle">
                        <div class="inner">
                            <div class="text-center"><br>
                                <p class="cot">520</p>
                            </div>
                        </div>
                    </div><br><br>
                    <h5 class="fcount">Happy Clients</h5>
                </div>
            </div><br>

        </div>
    </div>
</div>
<br><br>



<div class="contact"> <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-7 ids">
                <img src="https://mayadesignstudio.com/wp-content/uploads/2024/06/Rectangle-13.png.webp" alt="">
                <br>
            </div>
            <br>
            <div class="col-md-5 cd">

                <div class="card animate__animated animate__slideInRight">
                    <div class="card-body">
                        <p class="p">We’re here for you! Just ask and get answers.</p>
                        <p><span><i class="fa-solid fa-envelope-open-text fa-xl fa-bounce"
                                    style="color: #ea5f2c;"></i></span> sales&#64;jalaramgroup.info </p>
                    </div>
                </div>
                <br>
                <div class="card animate__animated animate__slideInRight">
                    <div class="card-body">
                        <p class="p">Have any questions? Reach us by phone.</p>
                        <p><span>
                                <i class="fa-solid fa-phone-volume fa-shake fa-xl" style="color: #ea5f2c;"></i>
                            </span> +91 801 008 9172</p>
                    </div>
                </div>
                <br>
                <div class="card animate__animated animate__slideInRight">
                    <div class="card-body">
                        <p class="p">Where to Find Us? Visit Us Here</p>
                        <p><span>
                                <i class="fa-solid fa-map-location-dot fa-xl fa-bounce" style="color: #ea5f2c;"></i>
                            </span>
                            Gala No. B43, B38, B56, B29, B46, Pavana Industrial Complex, T-204, MIDC Bhosari, Pune -
                            411026, Maharashtra,India.
                        </p>
                    </div>
                </div>
                <br>
                <button class="btn btn-lg btn-warning" [routerLink]="['/contactus']">
                    Contact Us
                </button>

            </div>
        </div>
    </div>
</div>