<br><br><br>
<div class="main">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <div class="bg-image">
                    <img src="/assets/banner/b1.jpg" alt="">
                    <div class="mask">
                        <div class="container">
                            <div class="row"> <br>
                                <div class="text-center"><br><br>
                                    <div class="bttonssss">
                                        <div class="endsss">
                                            <button class="btn btn-warning btn-lg" [routerLink]="['/about']">
                                                <h5>About Us</h5>
                                            </button>
                                            <button style="margin-left: 3%;" class="btn btn-warning btn-lg"
                                                [routerLink]="['/contactus']">
                                                <h5>Contact Us</h5>
                                            </button>
                                        </div>

                                        <div class="Mobilebtn">
                                            <button class="btn btn-warning " [routerLink]="['/about']">About
                                                Us</button>
                                            <button style="margin-left: 3%;" class="btn btn-warning"
                                                [routerLink]="['/contactus']">Contact Us</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="bg-image">
                    <img src="/assets/banner/mainimage.png" alt="">
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
                        <div class="container">
                            <div class="row"> <br>
                                <div class="text-center"><br><br>
                                    <h1 class="h1">Team Work <br> Makes the <br> Dream Work</h1>
                                    <div class="endsss">
                                        <button class="btn btn-warning btn-lg" [routerLink]="['/about']">
                                            <h5>About Us</h5>
                                        </button>
                                        <button style="margin-left: 3%;" class="btn btn-warning btn-lg"
                                            [routerLink]="['/contactus']">
                                            <h5>Contact Us</h5>
                                        </button>
                                    </div>

                                    <div class="Mobilebtn">
                                        <button class="btn btn-warning " [routerLink]="['/about']">About
                                            Us</button>
                                        <button style="margin-left: 3%;" class="btn btn-warning"
                                            [routerLink]="['/contactus']">Contact Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="main3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card cardlogos">
                    <div class="card-body">
                        <a href="https://riyaenterprises.tools/" target="_blank" aria-label="Read more about">
                            <img src="/assets/jriyalogo.png" class="img-fluid" alt="images" />
                        </a>
                        <br><br>
                        <div class="text-center">
                            <a href="https://riyaenterprises.tools/" target="_blank" aria-label="Read more about"
                                class="text-body">
                                <button class="btn btn-rounded btn-outline-warning">
                                    <h6 style="color: black;">Visit Website</h6>
                                </button>
                                <!-- <h5>www.riyaenterprises.tools</h5> -->
                            </a>
                        </div>
                    </div>
                </div> <br>
            </div>
            <div class="col-md-3">
                <div class="card cardlogos">
                    <div class="card-body">
                        <a href="https://riyaenterprises.tools" target="_blank" aria-label="Read more about">
                            <img src="/assets/mayurlogo.png" class="img-fluid" alt="images" />
                        </a>
                        <br><br>
                        <div class="text-center">
                            <a href="https://riyaenterprises.tools/" target="_blank" aria-label="Read more about"
                                class="text-body">
                                <button class="btn btn-rounded btn-outline-warning">
                                    <h6 style="color: black;">Visit Website</h6>
                                </button>
                                <!-- <h5>www.mayurenterprises.tools</h5> -->
                            </a>
                        </div>
                    </div>
                </div> <br>
            </div>

            <div class="col-md-3">
                <div class="card cardlogos">
                    <div class="card-body">
                        <a href="https://riyaenterprises.tools" target="_blank" aria-label="Read more about">
                            <img src="/assets/veerlogo.png" class="img-fluid" alt="images " />
                        </a>
                        <br><br>
                        <div class="text-center">
                            <a href="https://riyaenterprises.tools/" target="_blank" aria-label="Read more about"
                                class="text-body">
                                <button class="btn btn-rounded btn-outline-warning">
                                    <h6 style="color: black;">Visit Website</h6>
                                </button>
                                <!-- <h5>www.veerenterprises.tools</h5> -->
                            </a>
                        </div>
                    </div>
                </div> <br>
            </div>

            <div class="col-md-3">
                <div class="card cardlogos">
                    <div class="card-body" style="padding: 3%;">
                        <a href="https://plastic.jalaramgroup.info/" target="_blank" aria-label="Read more about">
                            <img src="/assets/jplasticlogo.png" class="img-fluid" alt="images " /> 
                        </a>
                        <br><br>
                        <div class="text-center">
                            <a href="https://plastic.jalaramgroup.info/" target="_blank" aria-label="Read more about"
                                class="text-body">
                                <button class="btn btn-rounded btn-outline-warning">
                                    <h6 style="color: black;">Visit Website</h6>
                                </button>
                                <!-- <h5>www.plastic.jalaramgroup.info</h5> -->
                            </a>
                        </div>
                    </div>
                </div> <br>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="cardabout">
        <h3><b>Welcome To</b> </h3>
        <h1 class="jalaram"><b style="color:#ea5f2c;"> Jalaram Group</b></h1>
        <br>
        <div class="divp">
            <p>Jalaram Group is a group of Industries which owns <b style="color:#ea5f2c;">JAI
                    JALARAM
                    INDUSTRIES, VEER
                    ENTERPRISES, MAYUR
                    ENTERPRISES, RIYA ENTERPRISES & J SQUARE INDUSTRIES.</b>
                <br>
                <br>
                Jalaram Group was formed in the year 1990 in Pune by Mr. Rameshwar Bhagat. We have the right combination
                of expertise and equipment to offer you a comprehensive trade service for carbide dies & moulds for
                powder compaction tools, jigs & fixtures, silver brazing, and heat treatment.
            </p>
        </div>
        <br>
        <button class="btn warnings btn-lg" (click)="navigateAndScroll('/about')">Learn More</button>
        <br>
    </div>
    <br><br>
</div>

<!-- <div class="about">
    <div class="bg-image">
        <img src="/assets/Back_image_1.jpg" class="img-fluid" alt="Sample" />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="row">
                <div class="col-md-4 animate__animated animate__slideInLeft"> <br><br><br>
                </div>
                <div class="col-md-8 "><br><br>
                    <div class="container">
                        <div class="cardabout">
                            <h3><b>Welcome To</b> </h3>
                            <h1><b style="color:#ea5f2c;"> Jalaram Group</b></h1>
                            <br>
                            <div class="divp">
                                <p>Jalaram Group is a group of Industries which owns <b style="color:#ea5f2c;">JAI
                                        JALARAM
                                        INDUSTRIES, VEER
                                        ENTERPRISES, MAYUR
                                        ENTERPRISES, RIYA ENTERPRISES & J SQUARE INDUSTRIES</b>
                                    <br>
                                    <br>
                                    Jalaram Group was formed in the year 1990 in Pune by Mr. Rameshwar Bhagat.We have
                                    the
                                    right
                                    combination of expertise and equipment to offer you a comprehensive trade service
                                    for
                                    Carbide Dies &
                                    Moulds for Powder Compactions Tools, Jigs & Fixtures, Silver Brazing, Heat
                                    Treatment.
                                </p>
                            </div>
                            <br>
                            <button class="btn btn-warning btn-lg" [routerLink]="['/about']">Learn More</button>
                            <br>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<br>
<br>
<div class="wehave">
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-4  animate__animated animate__slideInLeft animate__delay-2s">
                <div class="card we">
                    <div class="card-body">
                        <h3>What We Design ?</h3>
                        <p>We have professional and hands-on experienced designers, who are well trained in CAD, CAM and
                            mould designing softwares. Our deisgners understands the need of clients and design as per
                            clients satisfactory, which helps further manufacturing process easy and accurate.</p>
                    </div>
                </div>
            </div><br>
            <div class="col-md-4  animate__animated animate__slideInLeft animate__delay-1s">
                <div class="card we">
                    <div class="card-body">
                        <h3>What We Manufacture ?</h3>
                        <p>We have well equipped and advanced CNC, EDM and VMC imported machines which are regularly
                            serviced and well maintained by our professionals. We maintain sufficient raw materials and
                            tools in stocks which helps us to deliver quality products and quality tested materials in
                            time.</p>
                    </div>
                </div>
            </div><br>
            <div class="col-md-4  animate__animated animate__slideInLeft ">
                <div class="card we">
                    <div class="card-body">
                        <h3>What We Deliver ?</h3>
                        <p>We have special team who manage to deliver all requested orders in time. All our products are
                            well tested and cross checked by our experienced delivery team which avoids errors in
                            delivering products. We have our own transport facilities which helps us to avoid delay in
                            transportation.</p>
                    </div>
                </div>
            </div><br>
        </div>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12"> <br><br>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-2"></div><br>
                        <div class="col-md-10">
                            <div class="card">
                                <img src="/assets/banner/4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <div class="card">
                                <img src="/assets/banner/5.png" alt="">
                            </div>
                        </div><br>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-md-12 "><br>
                        <div class="card d2">
                            <div class="card-header">
                                <h3>What We Design ?</h3>
                            </div>
                            <div class="card-body">

                                <p>We have professional and hands-on experienced designers who are well trained in CAD,
                                    CAM, and mould designing software. Our designers understand the needs of clients and
                                    design as per clients' satisfaction, which helps further manufacturing process easy
                                    and accurate.</p>
                            </div>
                        </div>
                        <div class="card d1">
                            <div class="card-header">
                                <h3>What We Manufacture ?</h3>
                            </div>
                            <div class="card-body">

                                <p>We have well equipped and advanced CNC, EDM, and VMC imported machines that are
                                    regularly
                                    serviced and well maintained by our professionals. We maintain sufficient raw
                                    materials and
                                    tools in stocks, which helps us to deliver quality products and quality tested
                                    materials in
                                    time.</p>
                            </div>
                        </div>
                        <div class="card d2">
                            <div class="card-header">
                                <h3>What We Deliver ?</h3>
                            </div>
                            <div class="card-body">
                                <p>We have a special team that manages to deliver all requested orders in time. All our
                                    products are well tested and cross-checked by our experienced delivery team, which
                                    avoids errors in delivering products. We have our own transport facilities, which
                                    help us to avoid delay in transportation.</p>
                            </div>
                        </div> <br>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<br><br>

<div class="business">
    <div class="container">

        <div class="text-center">
            <h2 style="color: #db9040;"> <b>Our Businesses</b></h2>
        </div><br>

        <div class="row">
            <div class="col-md-4">
                <div class="bg-image">
                    <a href="http://plastic.jalaramgroup.info/" target="_blank" aria-label="Read more about">
                        <img src="https://www.thefinancialworld.com/wp-content/uploads/2024/01/Plastic-Industry-Seeks-100-Acre-Land-For-Eco-Friendly-Park-In-Ludhiana.jpg"
                            class="img-fluid" alt="Sample" /></a>
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">

                        <div class="d-flex justify-content-center align-items-center h-100">
                            <p class="text-white mb-0">
                                <br><button class="btn btn-s btn-warning btn-rounded"><a
                                        href="http://plastic.jalaramgroup.info/" target="_blank"
                                        aria-label="Read more about">
                                        <h6>Plastic
                                            Industries</h6>
                                    </a></button>
                            </p>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>

            <div class="col-md-4">
                <div class="bg-image">
                    <a href="https://jalaramdelight.com/" target="_blank" aria-label="Read more about">
                        <img src="https://pandansocial.com/wp-content/uploads/2021/09/Is-The-Grocery-Store-Industry-Ripe-for-Digital-Innovation_.jpg"
                            class="img-fluid" alt="Sample" /></a>
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <p class="text-white mb-0">
                                <br><button class="btn btn-s btn-warning btn-rounded"><a
                                        href="https://jalaramdelight.com/" target="_blank" aria-label="Read more about">
                                        <h6>Retail</h6>
                                    </a></button>
                            </p>
                        </div>
                    </div>
                </div>
                <br>
            </div><br>
            <div class="col-md-4">
                <div class="bg-image">
                    <a href="https://riyaenterprises.tools/" target="_blank" aria-label="Read more about">
                        <img src="https://www.mmindia.co.in/files/News/2023/May/04/Product_01_Num.jpg" class="img-fluid"
                            alt="Sample" />
                    </a>
                    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <p class="text-white mb-0">
                                <br>
                                <button type="button" class="btn btn-warning btn-rounded" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    <h6>Metal Industries</h6>
                                </button>

                            </p>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel"><b>Metal Industries</b></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card logosss">
                                                <div class="card-body">
                                                    <a href="https://riyaenterprises.tools/" target="_blank"
                                                        aria-label="read about metal Industries">
                                                        <img src="/assets/jriyalogo.png" alt="">
                                                    </a><br><br>
                                                    <div class="text-center">
                                                        <a href="https://riyaenterprises.tools">
                                                            <h5>Riya Enterprises</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-4">
                                            <div class="card logosss">
                                                <div class="card-body">
                                                    <a href="https://riyaenterprises.tools/" target="_blank"
                                                        aria-label="read about metal Industries">
                                                        <img src="/assets/mayurlogo.png" alt="">
                                                    </a><br><br>
                                                    <div class="text-center">
                                                        <a href="https://riyaenterprises.tools">
                                                            <h5>Mayur Enterprises</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="col-md-4">
                                            <div class="card logosss">
                                                <div class="card-body">
                                                    <a href="https://riyaenterprises.tools/" target="_blank"
                                                        aria-label="read about metal Industries">
                                                        <img src="/assets/veerlogo.png" alt="">
                                                    </a> <br><br>
                                                    <div class="text-center">
                                                        <a href="https://riyaenterprises.tools">
                                                            <h5>Veer Enterprises</h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
            </div><br>
        </div>
    </div>
</div>

<br><br>
<div class="count animate__animated "><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <div class="circle">
                        <div class="inner">
                            <div class="text-center"><br>
                                <p class="cot">55000</p>
                            </div>
                        </div>
                    </div><br><br>
                    <h5 class="fcount">Products Designed</h5>
                </div>
            </div><br>

            <div class="col-md-3">
                <div class="text-center">
                    <div class="circle">
                        <div class="inner">
                            <div class="text-center"><br>
                                <p class="cot">975</p>
                            </div>
                        </div>
                    </div><br><br>
                    <h5 class="fcount">Products Manufactured</h5>
                </div>
            </div><br>

            <div class="col-md-3">
                <div class="text-center">
                    <div class="circle">
                        <div class="inner">
                            <div class="text-center"><br>
                                <p class="cot">750</p>
                            </div>
                        </div>
                    </div><br><br>
                    <h5 class="fcount">Products Delivered</h5>
                </div>
            </div><br>

            <div class="col-md-3">
                <div class="text-center">
                    <div class="circle">
                        <div class="inner">
                            <div class="text-center"><br>
                                <p class="cot">520</p>
                            </div>
                        </div>
                    </div><br><br>
                    <h5 class="fcount">Happy Clients</h5>
                </div>
            </div><br>

        </div>
    </div><br><br>
</div>
<br><br>

<div class="contact"> <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 ids">
                <img src="/assets/banner/contact.png" alt="">
                <br>
            </div>
            <br>
            <div class="col-md-6 cd"><br><br>
                <h2 style="color: #F7A33E;">Write To Us:</h2><br>
                <form class="contact-form" (submit)="sendEmail($event)" class="row g-3 needs-validation" novalidate>
                    <!-- <div class="col-md-1"></div> -->
                    <div class="col-md-10">
                        <label for="Name">Name:</label>
                        <input type="text" name="name" class="form-control" id="Name" value=""
                            placeholder="Enter Your Name " required>
                        <div class="valid-feedback">
                            Your Name
                        </div>
                    </div>
                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Email">Email ID:</label>
                        <input type="email" name="email" class="form-control" id="EmailAddress"
                            placeholder="Enter Your Email Address.." required>
                    </div>

                    <br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Mobileno">Contact No.:</label>
                        <input type="number" name="phoneno" class="form-control" id="MobileNo" value=""
                            placeholder="Enter your Mobile number" required>
                        <div class="valid-feedback">
                            Your number
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <br>

                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="Mobileno">Message.:</label>
                        <textarea type="text" name="message" class="form-control" id="Message" placeholder="Message"
                            required>
                        </textarea>
                    </div>
                    <div class="col-md-1"></div>
                    <br>

                    <div class="col-md-1"></div>
                    <div class="col-md-10" style="text-align: center;">
                        <button class="btn btn-success btn-lg" type="submit" value="Send">Submit Now</button>
                    </div>
                    <br><br>
                </form>
            </div>
        </div>
    </div>
</div>